* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

#header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header span {
  font-weight: bold;
  font-size: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 15px;
}

#content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.input {
  color: #333;
  padding: 3px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.button {
  border: 1px solid #000;
  padding: 5px;
  padding: 3px;
  font-size: 1.05rem;
}

.button-green {
  background-color: #98fb98;
}

.button-red {
  background-color: #e78587;
}

#generic-form {
  border: 1px solid #000;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
  padding: 10px;
}

@media (max-width: 900px) {
  #generic-form {
    width: 100%;
  }
}
