<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <link rel="stylesheet" type="text/css" href="../css/common.css" />
    <script src="../js/edit_user.js"></script>
  </head>

  <body>

    <!-- Help navigation during development, can be made prettier -->
    <div style="text-align:center">
      <div style="text-align: center">
        <%- include('header.ejs') %>
      </div>
  </div>

    <div id="header">
      <span>Editar usuário</span>
    </div>

    <div class="content">
      <form action="/edit-user" id="generic-form" method="post">
        <div class="form-row">
          <span>Nome</span> <input class="input" name="name" />
        </div>
        <div class="form-row">
          <span>E-mail</span> <input type="email" class="input" name="email" />
        </div>
        <div class="form-row">
          <span>Senha</span>
          <input type="password" class="input" name="password" />
        </div>
        <div class="form-row">
          <span>Confir. senha</span>
          <input type="password" class="input" name="confPassword" />
        </div>
        <input
          type="submit"
          value="Editar usuário"
          class="button button-green"
        />
      </form>
    </div>
  </body>
</html>
