<div>
    <% if (user && user.name) { %>
        <h3> Olá, <%= user.name %> </h3>
    <% } %>
</div>

<nav>
    <% if (user) { %>
        <a href="/boards">List Boards</a> -
        <a href="/edit-user">Edit User</a> -
        <a href="/logout">Logout </a>
    <% } else { %>
        <a href="/login">Login </a> -
        <a href="/create-user">Signup</a>
    <% } %>
</nav>

<br>
